// Override default variables before the import

$secondary: #FFFF00;  //Yellow
$info: #8f1818; //Maroon


// Option A

  @import '../node_modules/bootstrap/scss/bootstrap.scss';

// Option B: Include parts of Bootstrap

// Required
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

//optional
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/navbar";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/buttons";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/jumbotron";
// @import "../node_modules/bootstrap/scss/transitions";
// @import "../node_modules/bootstrap/scss/type";

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}

.headerImage{
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
  width:100%;
  height: 120px;
  //background: white;
}

.blog-container{
  width:90%;
  display: table;
  margin: auto;
}

.breadcrumb-size{
  font-size: 1.2em;
}

.cta:hover {
  border: 5px solid yellow;
  color: #8f1818;
  font-weight: bold;
}

footer div a:hover {
  font-size: 1.3em;
  font-weight: bold;
  color: yellow;
}

.bread-ol{
  padding-left: 5px;
}

.widget{
  list-style-type: none;
  padding:0;
  padding-bottom: 35px;
  color: #8f1818;
}
.page-wrap{
  padding: 3.5rem 0;
}
.siteTitle{
  margin-left: 100px;
}
.searchDiv{
  margin-left: 85px;
}
.top-bar {
  /* list-style: none; */
  padding:50px;
  /* border:2px solid red; */
}

.top-bar li{
  display:inline;
}

.top-bar a{
  padding: 0.25rem 1rem;
  color:white;
}


.jumbotron{
  height: 200px;
  margin-bottom: 0;
  padding-bottom: 0px;
}
.myPara{
  font-size:22px;
  color: blue;
}
.text-info{
  width:100% !important;
}

.billingFields .form-row{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper input,
.billingFields .form-row .woocommerce-input-wrapper select{
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.billingFields .form-row .woocommerce-input-wrapper textarea{
    min-height: 200px !important;
    max-height: 800px !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

// Footer icons and text
.footerText{
  text-align: center;
}
.footer-icons{
  height:2rem;
  width:2rem;
}

.facebook-icon{
  display: table;
  margin: auto;
}

//Media queries for tablet and mobile responsiveness

// Medium devices (tablets, less than 992px)
@media (min-width: 100px) and (max-width: 991.98px) {
  header{
    width: 100%;
    height: 410px;
  }
  .navbar-toggler{
    display: none;
  }
  .top-bar a {
    display: inline;
    width: 100%;
  }

  #gallery-1{
    column-count: 2;
    column-gap: 0.1em;
    //margin-left: 10px;
    margin-right: 20px;
  }

}

@media (min-width: 991.98px) and (max-width: 1200px) {
  header{
    width: 100%;
    height: 220px;
  }
  .product-categories{
    text-align: center;
  }
  #menu-item-240{
    display: table;
    margin: auto;
    margin-bottom: 1.5em;
    font-weight: bold;
  }
}

@media (min-width: 575.98px) and (max-width: 991.98px) {
  .product-categories{
    text-align: center;
  }

  .navbar-toggler{
    display: none;
  }
  .top-bar li {
    display: table;
    margin: auto;
    padding-bottom: 5px;
    font-size: 1.2em;
  }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  header{
    width: 100%;
    height: 520px;
  }
  .home-para{
    display: table;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  #menu-item-240{
    display: table;
    margin: auto;
    font-weight: bold;
  }
  .navbar-toggler{
    display: none;
  }
  .top-bar li {
    display: table;
    margin: auto;
    padding-bottom: 8px;
    font-size: 1.2em;
  }
  .widget{
    padding: 1em;
  }
}
